<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'Belt/text.css' %}">
</head>
<body>
	<div id="wrapper">
		<h1>Welcome!</h1>
		<div id="message">
			{% if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
		</div>
		<div id="register">
			<h3>Register</h3>
			<form action="/register" method="POST">
				{% csrf_token %}
				<label><p>Name:</p> <input type="text" name="name"></label>
				<label><p>Alias:</p> <input type="text" name="alias"></label>
				<label><p>Email:</p> <input type="text" name="email"></label>
				<label><p>Password:</p> <input type="password" name="password"></label>
				<h5>*Password should be at least 8 characters</h5>
				<label><p>Confirm PW:</p> <input type="password" name="confirm_password"></label>
				<label><p>Date of Birth:</p> <input type="date" name="bday"></label>
				<input type="submit" value="Register">
			</form>
		</div>
		<div id="login">
			<h3>Login</h3>
			<form action="/login" method="POST">
				{% csrf_token %}
				<label><p>Email:</p> <input type="text" name="email"></label>
				<label><p>Password:</p> <input type="password" name="password"></label>
				<input type="submit" value="Login">
			</form>
		</div>
	</div>
</body>
</html>